.h2webtool-container {  
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 150px 400px 450px 250px;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    justify-content: center;
    align-items: stretch;
    grid-template-areas:
        "header header"
        "input-container output-values"
        "output-chart output-values"
        "area-info area-info";
}

.header {  
    display: grid;
    padding-bottom: 25px;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title-text title-image";
    grid-area: header;
    background-color: var(--background_dark2);
    border-radius: var(--radius_medium);
} 

.input-container {  
    display: grid;
    grid-template-columns: 0.7fr 0.6fr 2.2fr 0.7fr;
    grid-template-rows: 50px 60px 60px 60px 60px;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "eingabe-title eingabe-title eingabe-title eingabe-title"
        "icon-pv eingabe-pv area-slider-pv unit-pv"
        "icon-wind-on eingabe-wind-onshore area-slider-wind-on unit-wind-on"
        "icon-wind-off eingabe-wind-offshore area-slider-wind-off unit-wind-off"
        "icon-pem eingabe-pem area-slider-pem unit-pem";
    grid-area: input-container;
    background-color: var(--background_dark2);
    border-radius: var(--radius_medium);
}

.output-chart { grid-area: output-chart; }

.output-values {  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 40px 1fr 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    "ergebnisse-title"
    "betrieb-pem"
    "erzeugung-gase"
    "erzeugung-energie";
grid-area: output-values;
}

.ergebnisse-title { grid-area: ergebnisse-title; }

.betrieb-pem {  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 40px 1fr 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    "betrieb-title"
    "betrieb-vlh"
    "betrieb-energy"
    "betrieb-water";
grid-area: betrieb-pem;
}

.betrieb-title { grid-area: betrieb-title; }

.betrieb-vlh { grid-area: betrieb-vlh; }

.betrieb-energy { grid-area: betrieb-energy; }

.betrieb-water { grid-area: betrieb-water; }

.erzeugung-gase {  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 40px 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    "gase-title"
    "erz-hydrogen"
    "erz-oxygen";
grid-area: erzeugung-gase;
}

.erz-hydrogen { grid-area: erz-hydrogen; }

.erz-oxygen { grid-area: erz-oxygen; }

.gase-title { grid-area: gase-title; }

.erzeugung-energie {  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 40px 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    "energy-title"
    "energy-hydrogen"
    "energy-wasteheat";
grid-area: erzeugung-energie;
}

.energy-title { grid-area: energy-title; }

.energy-hydrogen { grid-area: energy-hydrogen; }

.energy-wasteheat { grid-area: energy-wasteheat; }

.area-info { grid-area: area-info; }
